name: release-macOS

on:
  # run it manually
  workflow_dispatch:

jobs:
  release-macOS:
    runs-on: macos-latest

    steps:
      - name: Use variables
        run: |
          echo "cURL version: ${CURL_VERSION}"
          echo "QuicTLS version: ${QUICTLS_VERSION}"
          echo "ngtcp2 version: ${NGTCP2_VERSION}"
          echo "nghttp3 version: ${NGHTTP3_VERSION}"
          echo "nghttp2 version: ${NGHTTP2_VERSION}"
          echo "libidn2 version: ${LIBIDN2_VERSION}"
          echo "libunistring version: ${LIBUNISTRING_VERSION}"
          echo "zlib version: ${ZLIB_VERSION}"
          echo "brotli version: ${BROTLI_VERSION}"
          echo "zstd version: ${ZSTD_VERSION}"
          echo "libssh2 version: ${LIBSSH2_VERSION}"
        env:
          CURL_VERSION: ${{ vars.CURL_VERSION }}
          QUICTLS_VERSION: ${{ vars.QUICTLS_VERSION }}
          NGTCP2_VERSION: ${{ vars.NGTCP2_VERSION }}
          NGHTTP3_VERSION: ${{ vars.NGHTTP3_VERSION }}
          NGHTTP2_VERSION: ${{ vars.NGHTTP2_VERSION }}
          LIBIDN2_VERSION: ${{ vars.LIBIDN2_VERSION }}
          LIBUNISTRING_VERSION: ${{ vars.LIBUNISTRING_VERSION }}
          ZLIB_VERSION: ${{ vars.ZLIB_VERSION }}
          BROTLI_VERSION: ${{ vars.BROTLI_VERSION }}
          ZSTD_VERSION: ${{ vars.ZSTD_VERSION }}
          LIBSSH2_VERSION: ${{ vars.LIBSSH2_VERSION }}

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Build Static cURL on macOS
        run: bash curl-static-mac.sh
        env:
          TOKEN_READ: ${{ secrets.TOKEN_READ }}
          CURL_VERSION: ${{ vars.CURL_VERSION }}
          QUICTLS_VERSION: ${{ vars.QUICTLS_VERSION }}
          NGTCP2_VERSION: ${{ vars.NGTCP2_VERSION }}
          NGHTTP3_VERSION: ${{ vars.NGHTTP3_VERSION }}
          NGHTTP2_VERSION: ${{ vars.NGHTTP2_VERSION }}
          LIBIDN2_VERSION: ${{ vars.LIBIDN2_VERSION }}
          LIBUNISTRING_VERSION: ${{ vars.LIBUNISTRING_VERSION }}
          ZLIB_VERSION: ${{ vars.ZLIB_VERSION }}
          BROTLI_VERSION: ${{ vars.BROTLI_VERSION }}
          ZSTD_VERSION: ${{ vars.ZSTD_VERSION }}
          LIBSSH2_VERSION: ${{ vars.LIBSSH2_VERSION }}
          TEST_ENV: ${{ vars.TEST_ENV }}
          TEST_SECRET: ${{ secrets.TEST_SECRET }}
          ARCHS: "x86_64"

      - name: Set up environment
        run: |
          VERSION=`cat version.txt`
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: List compiled files
        run: |
          ls -l release bin
          echo
          file bin/curl*
          echo
          otool -L bin/curl*
          echo
          sha256sum bin/curl*

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        if: github.ref == 'refs/heads/main'
        with:
          files: release/curl-*.tar.xz
          tag_name: ${{ env.VERSION }}
          token: ${{ secrets.GITHUB_TOKEN }}
